In [8]:
import pandas as pd
import spacy
from tqdm import tqdm

In [2]:
test_df = pd.read_csv("cleaned_test.csv")
train_df = pd.read_csv("cleaned_train.csv")

In [13]:
product_id_list = train_df["PRODUCT_ID"][:40000].to_list()
title_list = train_df["TITLE"][:40000].to_list()
text_list = train_df["TEXT"][:40000].to_list()

In [9]:
spacy.require_gpu()

nlp = spacy.load("en_core_web_sm")


def get_ents(doc):
    if doc.ents:
        for ent in doc.ents:
            #return(f"ent.text -> {ent.text}, ent.start-> {ent.start}, ent.end -> {ent.end}, ent.start_char-> {ent.start_char}, ent.end_char ->{ent.end_char}, ent.label_ ->{ent.label_}")
            return(f"{ent.text}, ")
    else:
        return("No entities found")


ents = []

for element in tqdm(text_list) :
    
    doc = nlp(str(element))
    ents.append(str(get_ents(doc)))

100%|█████████████████████████████████████| 40000/40000 [09:01<00:00, 73.80it/s]

TypeError: dict expected at most 1 argument, got 2

In [14]:
required_entity_dataframe  = pd.DataFrame()
required_entity_dataframe["PRODUCT_ID"] = product_id_list
required_entity_dataframe["TITLE"] = title_list
required_entity_dataframe["ENTS"]= ents

In [15]:
required_entity_dataframe

,PRODUCT_ID,TITLE,ENTS
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,"ent.text -> 54inch, ent.label_ ->ORDINAL"
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"ent.text -> 616, ent.label_ ->CARDINAL"
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"ent.text -> 12v, ent.label_ ->DATE"
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,"ent.text -> 2, ent.label_ ->CARDINAL"
4,283658,The United Empire Loyalists: A Chronicle of th...,"ent.text -> united empire, ent.label_ ->ORG"
...,...,...,...
39995,1721150,"INVENTO 1PCS 0.28"" LED Voltmeter Ammeter, Red ...","ent.text -> 1pcs 028, ent.label_ ->DATE"
39996,2213385,Kawn Enamelled Metal Crystal Easter Floral Gol...,"ent.text -> 15, ent.label_ ->CARDINAL"
39997,828894,Halex Beach Toss Jai Lai Botas (Purple/Green),"ent.text -> halex beach, ent.label_ ->GPE"
39998,549617,Handbook of Enemy Ammunition: War Office Pamph...,"ent.text -> 10, ent.label_ ->CARDINAL"
39999,953649,Top of The World NCAA Triple Threat Wool Adjus...,"ent.text -> one, ent.label_ ->CARDINAL"

In [16]:
required_entity_dataframe.to_csv("entities_from_all_text_40000.csv")